#Packages
node_modules/**/*
npm-debug.log

#My Folders
.circleci/**/*
.kubernetes/**/*
.vscode/**/*
coverage/**/*
dist/**/*

#Test config
jasmine.json
karma.conf.js

#Root files
.gitignore
README.md
tslint.json

#public folder
public/**/*
#But not this file...
!public/styles/grid.css